@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 15;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0F0F0F;
  /* Fontes nítidas no iPhone */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utilitário para esconder Scrollbar (Chrome/Safari/Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Utilitário para esconder Scrollbar (IE/Edge/Firefox) */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Prevenir seleção de texto chata no celular ao arrastar */
img {
  user-select: none;
  -webkit-user-drag: none;
}